.card-image {
    position: relative;
    width: 12rem;
    height: 13rem;
    display: flex;
    /* margin-top: 2rem; */
    overflow: visible; 
}

.card-image img {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.8s; /* Transição suave para o aumento da imagem */
}

.card-image:hover img {
    transform: scale(1.15); /* Aumenta o tamanho da imagem quando o mouse está sobre o card */
}

.start-game {
    position: absolute;
    bottom: -13.6px;
    width: 100%;
    height: 1.5rem;
    background: linear-gradient(to right, #000000 0%, rgba(41, 41, 41, 0.618) 50%, #000000 100%);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    opacity: 100; /* Começa invisível */
    transition: opacity 0.4s; /* Transição suave para a opacidade */
}

.card-image:hover .start-game {
    opacity: 1; /* Torna visível quando o card está em foco */

    transform: scale(1.15);
}
