.container-game-legend {
    position: relative;
    width: 14rem;
    height: 24rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: visible;
}


/* CARD DO GAME */

.card-image {
    position: relative;
    width: 100%;
    height: 15rem;
    top: 0; 
    left: 0;
    transition: transform 0.8s;
    z-index: 1; 
    object-fit: cover;
    overflow: hidden;

}

.card-image:hover {
    transform: scale(1.15);
}




.card-image img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.start-game {
    position: absolute;
    bottom: 0; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 100%; 
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center; 
    padding: 0.5rem; 
    opacity: 0; 
    visibility: hidden; /* Começa invisível e não afeta o layout */
    transition: opacity 0.4s, visibility 0.4s; 
}

.card-image:hover .start-game {
    opacity: 1;
    visibility: visible; 
}


.game-options {
  position: absolute;
  width: 100%;
  height: 7.4rem;
  background-color: green;
  bottom: 0;
  left: 0;
  transition: transform 0.8s, opacity 0.4s;
  opacity: 0;
  transform: scale(1);
  z-index: 1; /* Garante que a .game-options esteja abaixo da .card-image */
}

.game-options-expanded {
  transform: scale(1.15);
  opacity: 1;
}









