.container-game {
    position: relative;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    width: 14rem;
    height: 20rem;
    transition: transform 0.8s; 
    margin: auto;
    margin-top: 50px;
}

.container-game:hover {
    transform: scale(1.15);
}

.card-image {
    position: relative;
    width: 100%;
    height: 70%; 
    overflow: hidden;
}

.card-image img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.start-game {
    position: absolute;
    bottom: 0; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 100%; 
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center; 
    padding: 0.5rem; 
    opacity: 0; 
    visibility: hidden; /* Começa invisível e não afeta o layout */
    transition: opacity 0.4s, visibility 0.4s; 
}

.container-game:hover .start-game {
    opacity: 1;
    visibility: visible; 
}

.game-options {
    width: 100%;
    height: 30%; 
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden; /* Começa invisível e não afeta o layout */
    position: absolute; /* Garante que o elemento não afete o layout */
    bottom: 0; /* Posiciona na parte inferior do contêiner pai */
    transition: opacity 0.4s, visibility 0.4s; 
    z-index: 10; /* Garante que o elemento esteja acima de outros conteúdos */
}

.container-game:hover .game-options {
    opacity: 1;
    visibility: visible; /* Torna visível quando o contêiner está em foco */
}
