/* body{
    margin: 0;
    padding: 0;
    background-image: url(assets/ps-stars-all-rewards-and-how-to-get-them-1.large.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10;
} */